<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taskapp">
        <activity
            android:name=".BottomNavigation"
            android:exported="false"
            android:label="@string/title_activity_tabbed_activitybasic"
            android:theme="@style/Theme.Taskapp.NoActionBar" />
        <activity
            android:name=".TabbedActivitybasic"
            android:exported="false" />
        <activity
            android:name=".CustomListviewSpinner"
            android:exported="false"
            android:label="@string/title_activity_whatsapp_clone"
            android:theme="@style/Theme.Taskapp.NoActionBar" />
        <activity
            android:name=".WhatsappClone"
            android:exported="false" />
        <activity
            android:name=".data_display_listview"
            android:exported="false" />
        <activity
            android:name=".Astrology_splash"
            android:exported="false" />
        <activity
            android:name=".Astrology2"
            android:exported="false" />
        <activity
            android:name=".Astrology"
            android:exported="false" />
        <activity
            android:name=".Astrology1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".All"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>